*{
    font-family: 'Inter', sans-serif ;
    font-size: 20px;
}

html, body{
    height: 100%;
    overflow-x: hidden;
}

h3::first-letter{
    font-size: 30px;
}

form{
    display: inline-block;
}

div {
    display: inline-block;
}

div a{
    color: black;
    text-decoration: none;
}

#logo {
    font-family: 'Inter', sans-serif ;
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
    position: relative;
    left: 77px;
    top: 22px;
    bottom: 20px;
    width: 200px;
    height: 50px;
    text-align: center;
}

.post{
    display: inline-block;

}


#barra{
    width: 1000px;
    height: 43px;
    position: relative;
    top: 20px;
    bottom: 10px;
    left: 100px;
    padding: 12px 50px;
    }

#lupabarra{
    width: 22px;
    height: 20px;
    position: relative;
    top: 18px; 
    right: 890px;
}

.boton{
    display: inline-block;
    width: 200px;
    height: 40px;
}

.botoninicio{
    display: inline-block;   
    position: relative;
    top:  20px;
    bottom: 10px;
    width: 150px;
    height: 43px;
    left: 160px;
    margin-left: 20px;
    border: 1px black solid;
    text-align: center;
    background-color: white;
}

#categorias{
    display: block;
}

.cat{
    display: inline-block;
    color: black;
    margin: 20px 150px;
    position: relative;
    top: 20px;
    bottom: 20px;
}
#cato{
    color: red;
}

#imagenUsuarioVendedor{
    position: relative;
    width: 60px;
    height: 60px;
    left: 850px;
    top: 20px;
}

#nombreUsuarioVendedor{
    position: relative;
    font-size: 22px;
    top: -40px;
    left: 930px;
}

#ubiUsuarioVendedor{
    position: relative;
    color: gray;
    top: -65px;
    left: 930px;
}

.imagenBusqueda{
    width: 250px;
    height: 300px;
    position: relative;
    top: -85px;
    margin: 40px -90px;
    left: 190px;
    border-radius: 10px;
}

.precioBusqueda{
    display: inline-block;
    text-align: left;
    position: relative;
    width: 250px;
    top: 90px;
    left: 25px;
}

::placeholder{
    color: #bbbbbb;
}


.tituloBienvenido{
    color: black;
    font-size: 30px;
    position: relative;
    left: 320px;
    bottom: 10px;
    margin-top: 50px;
}

#tituloBienvenido2{
    color: black;
    font-size: 20px;
    position: relative;
    left: 245px;
    bottom: 30px;
}

.equis{
    position: relative;
    left: 730px;
    bottom: 80px;
    
    }

.datosInicioSesión{
    background-color: white;
    border: none;
    position: relative;
    left: 145px;
    width: 500px;
    height: 50px;
    padding: 1px 20px;
    top: -30px;
}

#tituloRegistro{
    color: black;
    position: relative;
    bottom: 125px;
    left: 240px;
}


#linkRegistro{
  color: green;
}

#registroContrasena {
position: relative;
left: 165px;
bottom: 160px;
font-size: 17px;



}

#botonInicioSesion{
    background-color: black;
    position: relative;
    color: white;
    width: 183px;
    bottom: 50px;
    height: 55px;
    font-size: 20px;
    right: 15px ;
}

.informaDrop{
    position: relative;
    width: 340px;
    height: 420px;


}

.informaDrop1{

    padding: 20px;
}


.informaDrop2{
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius:20px;
}

.bottonDrop{
    position: relative;
    left: 150px;
    bottom: 30px ;
}

.informaDrop0{
    margin-top: 17px;
    margin-bottom: 10px;;
    color: grey;
}

.cuerpomodal{
display: flex;


}

.informacioncrearpubli{

    margin-bottom: 10px;
    border: none;

}

.tipoProducto{
margin-top: 15px;



}

.tipoProducto2{
margin-top: 10px;
 margin-bottom:10px;
    
}

.botonesCrearpubli{
    position: relative;
    top: 10px;
}

.botona{
    
    border:  none;
position: relative;
left: 35px;
width: 150px;

}

.botonant{
    background-color: white;
    position: relative;
    left: 50px;
    border: 1px grey solid;
    height: 50px;
    border-bottom-left-radius: 5% ;
}
.botonsgt{
    background-color: #373737;
    color: white;
    position: relative;
    left: 44px;
    height: 50px;
    border: 1px grey solid;
    border-bottom-right-radius:5% ;
    
}


.tituloModal{
    position: relative;
    left: 43%;
    color: white;
}


.botonagre{
    height: 50px;

 
    background-color: #373737;
    color: white;
    border-radius: 5%;
}


.botonquit{
    height: 50px;
    background-color: white;
    border-radius: 5%;
    margin-top: 12px;
    
}

.botonb{
    border: 1px grey solid;
left: 95px;
width: 200px;


}

.informacioncrearpubli{
width: 700px;
height: 55px;
padding: 1px 15px;

}

.descripion{
    border: none;
    width: 700px;
}

.crearPubli{
    position: relative;
    left: 100px;
    background-color: black;
    color: white;
    border: 1px black solid; ;
    border-radius: 5%;
    height: 60px;
    width: 200px;
    padding: 1px 15px;
    top: 90px;
    }
#imagenUsuarioIniciado{
    display: inline-block;   
    position: relative;
    top:  48px;
    width: 43px;
    height: 43px;
    margin: none;
    left: 100px;
}

#nombreUsuarioIniciado{
    display: inline-block;   
    position: relative;
    top:  48px;
    font-size: 22px;
    left: 110px;
    text-align: left;
}



