*{
    font-family: 'Inter', sans-serif ;
    font-size: 20px;
}

html, body{
    height: 100%;
    overflow-x: hidden;
}

h3::first-letter{
    font-size: 30px;
}

a {
    position: relative;

}

section{
    position: relative;
    left: 250px;
}

#logo {
    font-family: 'Inter', sans-serif ;
    font-size: 25px;
    color: black;
    font-weight: bold;
    display: inline-block;
    position: relative;
    top: 22px;
    bottom: 20px;
    width: 200px;
    height: 50px;
    text-align: center;
    left: 77px;
}

.informaDrop{
    position: relative;
    height: 60px;
}



.bottonDrop{
    position: relative;
    left: 44.5%;
    bottom: 70px ;

}


.post{
    display: inline-block;
}

.imagenBusqueda{
    width: 250px;
    height: 300px;
    border-radius: 10px;
    position: relative;
    top: 20px;
    margin: 40px -90px;
   
}

#nombreAdmin{
    position: relative;
    left: 55px;
    top: 40px   ;
    border: none;
    background-color: white ;

}

.precioBusqueda{
    display: inline-block;
    text-align: left;
    position: relative;
    width: 250px;
    top: 200px;
    right: 160px;

}