<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vestizar</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link th:href="@{/css/styleArticulo.css}" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
   
</head>
<body>

    <header>

        <div>
            <a href="index.html"><h3 id="logo">VESTIZAR</h3>  </a>
           </div>
    
            <div>
                <form>
                    <input id="barra" class="ms-5"  type="text" placeholder="Busca art&iacute;culos, marcas o estilos!" name="busqueda">
                </form>
                <img id="lupabarra" src="../static/img/lupa.png" >
            </div>
    
            <div>
                <a href="registro.html">
                <button type="button" class="botoninicio">Registrarse</button>
                </a> 
                <button type="button" class="botoninicio" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@Inicio">Iniciar sesi&oacute;n</button>   
            </div>
            
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" >
                  <div class="modal-content" style="background-color: #dadada ;">
                    <div>
                      <p class="modal-title tituloBienvenido" style="display: block;" id="exampleModalLabel">¡Bienvenido!</p>
                      <button type="button" class="btn-close equis " data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <p id="tituloBienvenido2">Ingresa tus datos para continuar</p>
                    <div class="modal-body">
                      <form>
                         <input class="datosInicioSesión" type="text" name="usuario" placeholder="Ingresa tu usuario"/>
                         <br><br>
                         <input class="datosInicioSesión"  type="password" name="contraseña" placeholder="Ingresa tu contraseña"> <br><br><br><br><br>
                      </form>
                    </div>
                    <div >  
                        <div>

                            <p id="registroContrasena">¿Olvidaste tu contraseña?
                                <a href="RecuperarContrasena.html">
                                    <button type="button" style="color: green; border: none; background-color: #dadada">Recuperala</button>
                                </a>

                            </p>


                            <p id="tituloRegistro">¿No tienes una cuenta? 
                                <a id="linkRegistro" href="registro.html" >Reg&iacute;strate</a>
                            </p>



                        </div>
                        <a href="articuloIniciado.html">
                            <button type="button" id="botonInicioSesion" >Iniciar sesi&oacute;n</button>
                        </a>
                    </div>
                  </div>
                </div>
              </div>


            <div id="categorias">
                <a class="cat" href="busqueda.html" >Hombre</a>
                <a class="cat" href="busqueda.html" >Mujer</a>
                <a class="cat" href="busqueda.html" >Ni&ntilde;os</a>
                <a class="cat" href="busqueda.html" >Bisuter&iacute;a</a>
                <a class="cat" href="busqueda.html" >Bolsos</a>
                <a class="cat" href="busqueda.html" >Maquillaje</a>
                <a class="cat" id="cato" href="busqueda.html" >Ofertas</a>
            </div>    
        </header>

        <section>   

            <div class="informacion" >

                <div class="imagenboton">
                    <img class="imagenArticulo" src="../static/img/deporte2.png"/>
                    <button class="botonArticulo" id="ant">Anterior</button>
                    <button class="botonArticulo" id="sgte">Siguiente</button>
                </div>

                <div >
                    <p class="informacionProducto"> Tipo de Producto</p>
                    <p class="informacionProducto"> Talla</p>
                    <p class="informacionProducto"> Color</p>
                    <p class="informacionProducto"> Marca</p>
                    <p class="informacionProducto"> Estilo</p>
                    <p class="informacionProducto"> Estado</p>
                    <p class="informacionProducto"> Precio</p>
                </div>

                <div >
                    <img id="imagenUsuario" src="../static/img/usuario.png" >
                    <a href="perfilVendedor.html">
                        <p id="nombreUsuario">usuario3842</p>
                    </a>
                    <p id="ubicacionUsuario">Temuco</p>
                </div>

                <div th:object="${producto}">
                    <p class="informacionProducto2" th:text="${producto.tipoProducto}" ></p>
                    <p class="informacionProducto2" th:text="${producto.talla}"></p>
                    <p class="informacionProducto2" th:text="${producto.color}"></p>
                    <p class="informacionProducto2" th:text="${producto.marca}"></p>
                    <p class="informacionProducto2" th:text="${producto.estilo}"></p>
                    <p class="informacionProducto2" th:text="${producto.estado}"></p>
                    <p class="informacionProducto2" th:text="${producto.precio}"></p>
                    <p id="desc" th:text="${producto.descripcion}"></p>
                    <button type="button" id="botonContacto" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@Inicio">Contactar vendedor</button>
                </div>


            </div>
        
        </section>
  

    <footer>  </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>