<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vestizar</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link th:href="@{/css/styleArticulo.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
   
</head>
<body>

    <header>

        <div>
            <a th:href="@{/iniciadoSesion}"><h3 id="logo">VESTIZAR</h3>  </a>
           </div>
    
            <div>
                <form>
                    <input id="barra" class="ms-5"  type="text" placeholder="Busca art&iacute;culos, marcas o estilos!" name="busqueda">
                </form>
                <img id="lupabarra" th:src="@{/img/lupa.png}"  >
            </div>

        <div class="dropdown">
            <a class="bottonMenu bottonDrop" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">

                <img id="imagenUsuarioIniciado" th:src="@{/img/usuariov2.png}">
                <p id="nombreUsuarioIniciado" th:text="${sesion.nombreUsuario}"></p>
            </a>

            <ul class="dropdown-menu dropdown-menu-dark informaDrop" style="text-align: center; background-color: #1b1919; border-radius: 6%; " aria-labelledby="dropdownMenuLink">
                <li><p class="informaDrop0">Bienvenido, Usuario</p></li>
                <li><a class="dropdown-item informaDrop1" th:href="@{/iniciadoSesion/verMiPerfil}">Ver mi perfil</a></li>
                <li><a class="dropdown-item informaDrop1" type="Button" data-bs-toggle="modal" data-bs-target="#exampleModal">Crear publicación</a></li>
                <li><a class="dropdown-item informaDrop1" th:href="@{/iniciadoSesion/misPublicaciones/{id}(id=${sesion.id})}">Ver mis publicaciones</a></li>
                <li><a class="dropdown-item informaDrop1" th:href="@{/inicioChat}">Chats</a></li>
                <li><a class="dropdown-item informaDrop1" th:href="@{/inicioAdmin}">Administrador</a></li>
                <li><a class="dropdown-item informaDrop2" th:href="@{/}">Cerrar Sesion</a></li>
            </ul>
        </div>


        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class=" modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content" style="height: 1000px;" >
                    <div class="modal-header" style="background-color: black;">
                        <h5 class="modal-title tituloModal" id="exampleModalLabel">Crear publicación</h5>
                        <button  type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body cuerpomodal">

                        <form  action="/guardarProducto" method="post" enctype="multipart/form-data">

                            <div  style=" width: 400px;">
                                <img src=".." class="imagenModalCrearPublicacion" height="300px" width="300px" style="border: 2px solid #373737 ; position: relative; left: 50px; top: 40px ; border-top-left-radius:5% ; border-top-right-radius:5% ;" >
                                <br><br>
                                <button class="botonesCrearpubli botonant botona" type="button">Anterior</button>
                                <button class="botonesCrearpubli botonsgt botona" type="button">Siguiente</button><br><br>
                                <input class="botonesCrearpubli botonagre botonb" name="file" type="file" id="imagen" placeholder="Subir Imagen"><br>
                                <button class="botonesCrearpubli botonquit botonb" type="button">Quitar imagen</button>

                            </div>



                            <div style="width: 600px;">

                                <div >
                                    <select class="form-select tipoProducto1" name="tipoProducto" style="border-radius: 0%; background-color: white; height: 55px; border: none;"><br><br>
                                        <option value="" selected> Seleccione tipo de producto</option>
                                        <option th:each="tiposProducto:${tipoProducto}" th:value="${tiposProducto}" th:text="${tiposProducto.nombre}" ></option>
                                    </select>

                                    <select class="form-select tipoProducto1" name="categoria" style="border-radius: 0%; background-color: white; height: 55px; border: none;"><br><br>
                                        <option value="" selected> Seleccione la categoria del producto</option>
                                        <option th:each="categorias:${categoria}" th:value="${categorias}" th:text="${categorias.nombre}" ></option>
                                    </select>


                                    <select  name="talla" class="form-select tipoProducto2 "  style="border-radius: 0%; background-color: white; height: 55px; border: none;"><br><br>
                                        <option value="" selected>Selecciona la talla</option>
                                        <option th:each="tallaProducto:${talla}" th:value="${tallaProducto}" th:text="${tallaProducto.nombre}" ></option>

                                    </select>

                                    <select  name="estado" class="form-select tipoProducto2 "  style="border-radius: 0%; background-color: white; height: 55px; border: none;"><br><br>
                                        <option value="" selected>Selecciona el estado</option>
                                        <option th:each="estados:${estado}" th:value="${estados}" th:text="${estados.nombre}" ></option>

                                    </select>

                                    <input  class="informacioncrearpubli" type="text" name="marca" id="marca" placeholder="Marca"><br>
                                    <input  class="informacioncrearpubli" type="text" name="precio" id="precio" placeholder="Precio"><br>
                                    <input  type="hidden" name="idVendedor" id="idVendedor" th:value="${sesion.getId()}">
                                    <textarea  class="descripion" name="descripcion" id="descripcion" placeholder="Breve descripción o detalles del artículo"></textarea><br>

                                </div>
                                <button class="crearPubli btn btn-primary" type="submit">Publicar</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div id="categorias">
            <a class="cat" th:href="@{/iniciadoSesion/busqueda/categoria/hombre}" >Hombre</a>
            <a class="cat" th:href="@{/iniciadoSesion/busqueda/categoria/mujer}" >Mujer</a>
            <a class="cat" th:href="@{/iniciadoSesion/busqueda/categoria/nino}" >Ni&ntilde;os</a>
            <a class="cat" th:href="@{/iniciadoSesion/busqueda}" >General</a>
            <a class="cat" id="cato" th:href="@{/iniciadoSesion/busqueda}" >Ofertas</a>
        </div>

        </header>


                <div class="informacion" >

                    <div class="imagenboton">
                        <img class="imagenArticulo" th:src="@{'/imgPagina/'+${producto.imagen1}}"/>
                        <button class="botonArticulo" id="ant">Anterior</button>
                        <button class="botonArticulo" id="sgte">Siguiente</button>
                    </div>

                    <div >
                        <p class="informacionProducto"> Tipo de Producto</p>
                        <p class="informacionProducto"> Talla</p>
                        <p class="informacionProducto"> Marca</p>
                        <p class="informacionProducto"> Estado</p>
                        <p class="informacionProducto"> Precio</p>
                    </div>

                    <div th:object="${producto}">
                        <img id="imagenUsuario" th:src="@{/img/usuario.png}">
                        <a th:href="@{/iniciadoSesion/perfilVendedor/{id}(id=${producto.getVendedor()})}">
                            <p id="nombreUsuario" th:text="${sesionVendedor.nombreUsuario}"></p>
                        </a>
                        <p id="ubicacionUsuario" th:text="${sesionVendedor.ciudad}"></p>
                    </div>

                    <div th:object="${producto}">
                        <p class="informacionProducto2" th:text="${producto.tipoProducto}" ></p>
                        <p class="informacionProducto2" th:text="${producto.talla}"></p>
                        <p class="informacionProducto2" th:text="${producto.marca}"></p>
                        <p class="informacionProducto2" th:text="${producto.estado}"></p>
                        <p class="informacionProducto2" th:text="${producto.precio}"></p>
                        <p id="desc" th:text="${producto.descripcion}"></p>
                        <button type="button" id="botonContacto" data-bs-toggle="modal" data-bs-target="#exampleModalContacto" data-bs-whatever="@Inicio">Contactar vendedor</button>
                    </div>
                </div>


    <div class="modal fade  tipoModal" id="exampleModalContacto" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content" style="background-color: #dadada ;">
                <div>
                    <p class="modal-title tituloDatos" style="display: block;" id="exampleModalLabelContacto">
                        Datos del Vendedor</p>
                    <button type="button" class="btn-close equis " data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>

                <div class="modal-body">

                    <div>

                        <img class="imagenContacto " th:src="@{/img/usuario.png}" >
                        <p class="nombreContacto " th:text="${sesionVendedor.nombreUsuario}" ></p>
                        <p class="ubiContacto " th:text="${sesionVendedor.ciudad.nombre}"></p>

                    </div>

                    <p class="informacionContactoTexto">Nombre:</p>
                    <p class="informacionContactoTexto">Celular:</p>
                    <p class="informacionContactoTexto">Correo:</p>


                    <p class="informacionContacto" th:text="${sesionVendedor.nombre}">
                    <p class="informacionContacto" th:text="${sesionVendedor.celular}">
                    <p class="informacionContacto" th:text="${sesionVendedor.email}">










                </div>
            </div>
        </div>
    </div>

    </div>
        
        </section>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>

</html>