<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vestizar</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/styleInicioAdmin.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">

    </head>

    <body>
    <header>
            <div>
                <a href="inicioAdmin.html"> <h3 id="logo">VESTIZAR</h3>  </a>

            </div>
    
            <div>
                <div class="dropdown">
                    <a class="bottonMenu bottonDrop" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        <button id="nombreAdmin">admin01</button>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-dark informaDrop" style="text-align: center; background-color: #1b1919; border-radius: 6%; " aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item informaDrop4" href="index.html">Cerrar Sesion</a></li>
                    </ul>
                </div>

            </div>
            
        </header>

            <section>
                <article class="post">
                    <a href="revisionAdmin.html">
                       <img class="imagenBusqueda" src="../static/img/grunge5.png " />
                    </a>
                <p class="precioBusqueda">$0</p>
                </article>
               
                <article class="post">
                    <a href="revisionAdmin.html">
                       <img class="imagenBusqueda" src="../static/img/vintage6.png" />
                    </a>
                <p class="precioBusqueda">$111111111111</p>
                </article>

                <article class="post">
                    <a href="revisionAdmin.html">
                       <img class="imagenBusqueda" src="../static/img/vintage9.png" />
                    </a>
                <p class="precioBusqueda">$7000</p>
                </article>

                <article class="post">
                    <a href="revisionAdmin.html">
                       <img class="imagenBusqueda" src="../static/img/formal3.png" />
                    </a>
                <p class="precioBusqueda">$4500</p>
                </article>

                <article class="post">
                    <a href="revisionAdmin.html">
                       <img class="imagenBusqueda" src="../static/img/vintage3.png" />
                    </a>
                <p class="precioBusqueda">$2500</p>
                </article>

                <article class="post">
                    <a href="revisionAdmin.html">
                       <img class="imagenBusqueda" src="../static/img/formal2.png" />
                    </a>
                <p class="precioBusqueda">$1000</p>
                </article>

                <article class="post">
                    <a href="articulo.html">
                       <img class="imagenBusqueda" src="../static/img/vintage7.png" />
                    </a>
                <p class="precioBusqueda">$4000</p>
                </article>
            </section>
                
            

            <footer>
            </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    </body>
</html>