<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vestizar</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/styleMisPublicaciones.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">

    </head>

    <body>
    <header>
        <div>
            <a href="iniciadoSesion.html"><h3 id="logo">VESTIZAR</h3>  </a>
           </div>
            <div>
                <form>
                    <input id="barra" class="ms-5"  type="text" placeholder="Busca art&iacute;culos, marcas o estilos!" name="busqueda">
                </form>
                <img id="lupabarra" src="../static/img/lupa.png" >
            </div>
    
            <div class="dropdown">
                <a class="bottonMenu bottonDrop" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                 
              <img id="imagenUsuarioIniciado" src="../static/img/usuariov2.png">
              <p id="nombreUsuarioIniciado">usuario01</p>
                </a>

                <ul class="dropdown-menu dropdown-menu-dark informaDrop" style="text-align: center; background-color: #1b1919; border-radius: 6%; " aria-labelledby="dropdownMenuLink">
                    <li><p class="informaDrop0">Bienvenido, Usuario</p></li>
                    <li><a class="dropdown-item informaDrop1" href="verMiPerfil.html">Ver mi perfil</a></li>
                    <li><a class="dropdown-item informaDrop1" type="Button" data-bs-toggle="modal" data-bs-target="#exampleModal">Crear publicación</a></li>
                    <li><a class="dropdown-item informaDrop1" href="misPublicaciones.html">Ver mis publicaciones</a></li>
                    <li><a class="dropdown-item informaDrop1" href="contactos.html">Chats</a></li>
                    <li><a class="dropdown-item informaDrop1" href="inicioAdmin.html">Administrador</a></li>
                    <li><a class="dropdown-item informaDrop2" href="index.html">Cerrar Sesion</a></li>
                </ul>
            </div>


              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class=" modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content" style="height: 1000px;" >
                    <div class="modal-header" style="background-color: black;">
                    <h5 class="modal-title tituloModal" class="exampleModalLabel">Crear publicación</h5>
                    <button  type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                 </div>
                    <div class="modal-body cuerpomodal">
                        
                        <div  style=" width: 400px;">
                            <img class="imagenModalCrearPublicacion" height="300px" width="300px" style="border: 2px solid #373737 ; position: relative; left: 50px; top: 40px ; border-top-left-radius:5% ; border-top-right-radius:5% ;" src="../static/img/creacion.png">                            <br><br>
                            <button class="botonesCrearpubli botonant botona" type="button">Anterior</button>
                            <button class="botonesCrearpubli botonsgt botona" type="button">Siguiente</button><br><br>
                            <button class="botonesCrearpubli botonagre botonb" type="button" >Agregar imagen</button><br>
                            <button class="botonesCrearpubli botonquit botonb" type="button">Quitar imagen</button>
                        
                        </div>
    
                    
                        <form action="">
                            <div style="width: 600px;">
    
                                <div >
                                    <select class="form-select tipoProducto1" style="border-radius: 0%; background-color: white; height: 55px; border: none;"><br><br>
                                        <option selected> Seleccione tipo de producto</option>
                                        <option value="1">Polera</option>
                                        <option value="2">Camisa</option>
                                        <option value="3">Poleron</option>
                                      </select>
                                      <select class="form-select tipoProducto2 "  style="border-radius: 0%; background-color: white; height: 55px; border: none;"><br><br>
                                        <option selected>Selecciona la talla</option>
                                        <option value="1">S</option>
                                        <option value="2">M</option>
                                        <option value="3">L</option>
                                      </select>
                                      
                                      <input class="informacioncrearpubli" type="text" name="color" class="color" placeholder="Color"><br>
                                      <input class="informacioncrearpubli" type="text" name="marca" class="marca" placeholder="Marca"><br>
                                      <input class="informacioncrearpubli" type="text" name="estilo" class="estilo" placeholder="Estilo"><br>
                                      <input class="informacioncrearpubli" type="text" name="estado" class="estado" placeholder="Estado"><br>
                                      <input class="informacioncrearpubli" type="text" name="precio" class="precio" placeholder="Precio"><br>
                                      <textarea class="descripion" name="descripcion" class="descripcion" placeholder="Breve descripción o detalles del artículo"></textarea><br>
    
                                </div>
                         
                                  
                        
    
    
                            </div>
                                      <button class="crearPublicar" type="button" class="btn btn-primary">Publicar</button>
                        </form>
                    </div>
    
    
                </div>
                </div>
             </div>
    
            <div id="categorias">
                <a class="cat" th:href="@{/busqueda}" >Hombre</a>
                <a class="cat" th:href="@{/busqueda}" >Mujer</a>
                <a class="cat" th:href="@{/busqueda}" >Ni&ntilde;os</a>
                <a class="cat" th:href="@{/busqueda}" >Bisuter&iacute;a</a>
                <a class="cat" th:href="@{/busqueda}" >Bolsos</a>
                <a class="cat" th:href="@{/busqueda}" >Maquillaje</a>
                <a class="cat" id="cato" th:href="@{/busqueda}" >Ofertas</a>
            </div>
            
        </header>
            
        <div>
            <p id="nombreUsuarioVendedor">Mis publicaciones</p>
        </div>


    <section>




        <article class="post">
            <a type="button">

                <img class="imagenArticuloVendedor"  data-bs-toggle="modal"   data-bs-target="#exampleModalPubli1" src="../static/img/grunge6.png" />
            </a>
            
            <p class="precioArticuloVendedor">$10000</p>
        </article>



        <div class="modal fade" id="exampleModalPubli1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class=" modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content" style="height: 1000px;">
                <div class="modal-header" style="background-color: black;">
                <h5 class="modal-title tituloModal" class="exampleModalLabel">Editar publicación</h5>
                <button  type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
             </div>
                <div class="modal-body cuerpomodal">
                    
                    <div  style=" width: 400px;">
                        <img class="imagenModalCrearPublicacion" height="300px" width="300px" style="position: relative; left: 50px; top: 40px ; border-top-left-radius:5% ; border-top-right-radius:5% ;" src="../static/img/grunge6.png">
                        <br><br>
                        <button class="botonesCrearpubli botonant botona" type="button">Anterior</button>
                        <button class="botonesCrearpubli botonsgt botona" type="button">Siguiente</button><br><br>
                        <button class="botonesCrearpubli botonagre botonb" type="button" >Agregar imagen</button><br><br>
                        <button class="botonesCrearpubli botonquit botonb" type="button">Quitar imagen</button>
                      

                    </div>

                
                    <form action="">
                        <div style="width: 600px;">

                            <div >
                                <select class="form-select tipoProducto1" style="border-radius: 0%; background-color: white; height: 55px; border: none;"><br><br> 
                                    <option selected>Polera</option>
                                    <option value="1">Camisa</option>
                                    <option value="2">Poleron</option>
                                  </select>
                                  <select class="form-select tipoProducto2 "  style="border-radius: 0%; background-color: white; height: 55px; border: none;"><br><br>
                                    <option selected>S</option>
                                    <option value="2">M</option>
                                    <option value="3">L</option>
                                  </select>
                                  
                                  <input class="informacioncrearpubli" type="text" name="color" class="color" value="Café" placeholder="Color"><br>
                                  <input class="informacioncrearpubli" type="text" name="marca" class="marca" value="Desconocida" placeholder="Marca"><br>
                                  <input class="informacioncrearpubli" type="text" name="estilo" class="estilo" placeholder="Estilo" value="Grunge"><br>
                                  <input class="informacioncrearpubli" type="text" name="estado" class="estado" placeholder="Estado" value="Semi-Nuevo"><br>
                                  <input class="informacioncrearpubli" type="text" name="precio" class="precio" placeholder="Precio" value="$5000"><br>
                                  <textarea class="descripion" name="descripcion" class="descripcion" placeholder="Breve descripción o detalles del artículo">Semi nuevo, usado solo un par de veces</textarea><br>

                            </div>
                        </div>
                  
                    </form>


                </div>
                <div>
                    <button class="crearPubli" type="button" style="margin-left: 60px; background-color:whitesmoke " class="btn btn-primary">Eliminar</button>
                <button class="crearPubli" type="button" class="btn btn-primary" style="margin-left: 60px; background-color: grey; color: white;">Marcar como vendido</button>
                <button class="crearPubli" type="button" class="btn btn-primary" style="margin-left: 60px; background-color: black; color: white ">Guardar</button>
                </div>
            </div>
            </div>
         </div>





         <article class="post">
            <a type="button">

                <img class="imagenArticuloVendedor"  data-bs-toggle="modal"   data-bs-target="#exampleModalPubli2" src="../static/img/deporte4.png" />
            </a>
            
            <p class="precioArticuloVendedor">$30000</p>
        </article>


        
        <div class="modal fade" id="exampleModalPubli2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class=" modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content" style="height: 1000px;">
                <div class="modal-header" style="background-color: black;">
                <h5 class="modal-title tituloModal" class="exampleModalLabel">Editar publicación</h5>
                <button  type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
             </div>
                <div class="modal-body cuerpomodal">
                    
                    <div  style=" width: 400px;">
                        <img class="imagenModalCrearPublicacion" height="300px" width="300px" style="position: relative; left: 50px; top: 40px ; border-top-left-radius:5% ; border-top-right-radius:5% ;" src="../static/img/deporte4.png">
                        <br><br>
                        <button class="botonesCrearpubli botonant botona" type="button">Anterior</button>
                        <button class="botonesCrearpubli botonsgt botona" type="button">Siguiente</button><br><br>
                        <button class="botonesCrearpubli botonagre botonb" type="button" >Agregar imagen</button><br><br>
                        <button class="botonesCrearpubli botonquit botonb" type="button">Quitar imagen</button>
                      

                    </div>

                
                    <form action="">
                        <div style="width: 600px;">

                            <div >
                                <select class="form-select tipoProducto1" style="border-radius: 0%; background-color: white; height: 55px; border: none;"><br><br> 
                                    <option selected>Poleron</option>
                                    <option value="1">Polera</option>
                                    <option value="2">Camisa</option>
                                  </select>
                                  <select class="form-select tipoProducto2 "  style="border-radius: 0%; background-color: white; height: 55px; border: none;"><br><br>
                                    <option selected>L</option>
                                    <option value="1">S</option>
                                    <option value="2">M</option>
                                   
                                  </select>
                                  
                                  <input class="informacioncrearpubli" type="text" name="color" class="color" value="Gris" placeholder="Color"><br>
                                  <input class="informacioncrearpubli" type="text" name="marca" class="marca" value="Desconocida" placeholder="Marca"><br>
                                  <input class="informacioncrearpubli" type="text" name="estilo" class="estilo" placeholder="Estilo" value="Deporte"><br>
                                  <input class="informacioncrearpubli" type="text" name="estado" class="estado" placeholder="Estado" value="Usado"><br>
                                  <input class="informacioncrearpubli" type="text" name="precio" class="precio" placeholder="Precio" value="$15000"><br>
                                  <textarea class="descripion" name="descripcion" class="descripcion" placeholder="Breve descripción o detalles del artículo">Usado por 3 meses aprox, tiene un datalle en la esplada</textarea><br>
                            </div>
                        
                        </div>
                  
                    </form>


                </div>
                <div >
                    <button class="crearPubli" type="button" style="margin-left: 60px; background-color:whitesmoke " class="btn btn-primary">Eliminar</button>
                <button class="crearPubli" type="button" class="btn btn-primary" style="margin-left: 60px; background-color: grey; color: white;">Marcar como vendido</button>
                <button class="crearPubli" type="button" class="btn btn-primary" style="margin-left: 60px; background-color: black; color: white ">Guardar</button>
                </div>
            </div>
            </div>
         </div>





          
         <article class="post">
            <a type="button">

                <img class="imagenArticuloVendedor"  data-bs-toggle="modal"   data-bs-target="#exampleModalPubli3" src="../static/img/grunge3.png" />
            </a>
            <p class="precioArticuloVendedor">$40000</p>
        </article>


                
        <div class="modal fade" id="exampleModalPubli3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class=" modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content" style="height: 1000px;">
                <div class="modal-header" style="background-color: black;">
                <h5 class="modal-title tituloModal" id="exampleModalLabel">Editar publicación</h5>
                <button  type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
             </div>
                <div class="modal-body cuerpomodal">
                    
                    <div  style=" width: 400px;">
                        <img class="imagenModalCrearPublicacion" height="300px" width="300px" style="position: relative; left: 50px; top: 40px ; border-top-left-radius:5% ; border-top-right-radius:5% ;" src="../static/img/grunge3.png">
                        <br><br>
                        <button class="botonesCrearpubli botonant botona" type="button">Anterior</button>
                        <button class="botonesCrearpubli botonsgt botona" type="button">Siguiente</button><br><br>
                        <button class="botonesCrearpubli botonagre botonb" type="button" >Agregar imagen</button><br><br>
                        <button class="botonesCrearpubli botonquit botonb" type="button">Quitar imagen</button>
                      

                    </div>

                
                    <form action="">
                        <div style="width: 600px;">

                            <div >
                                <select class="form-select tipoProducto1" style="border-radius: 0%; background-color: white; height: 55px; border: none;"><br><br> 
                                    <option selected>Falda</option>
                                    <option value="2">Poleron</option>
                                    <option value="1">Polera</option>
                                    
                                  </select>
                                  <select class="form-select tipoProducto2 "  style="border-radius: 0%; background-color: white; height: 55px; border: none;"><br><br>
                                    <option selected>L</option>
                                    <option value="1">S</option>
                                    <option value="2">M</option>
                                   
                                  </select>
                                  
                                  <input class="informacioncrearpubli" type="text" name="color" id="color" value="Celeste" placeholder="Color"><br>
                                  <input class="informacioncrearpubli" type="text" name="marca" id="marca" value="Desconocida" placeholder="Marca"><br>
                                  <input class="informacioncrearpubli" type="text" name="estilo" id="estilo" placeholder="Estilo" value="Grunge"><br>
                                  <input class="informacioncrearpubli" type="text" name="estado" id="estado" placeholder="Estado" value="Nuevo"><br>
                                  <input class="informacioncrearpubli" type="text" name="precio" id="precio" placeholder="Precio" value="$10000"><br>
                                  <textarea class="descripion" name="descripcion" id="descripcion" placeholder="Breve descripción o detalles del artículo">Nuevo, sigue en su bolsa de compra</textarea><br>
                            </div>
                        
                        </div>
                  
                    </form>


                </div>
                <div>
                    <button class="crearPubli" type="button" style="margin-left: 60px; background-color:whitesmoke " class="btn btn-primary">Eliminar</button>
                <button class="crearPubli" type="button" class="btn btn-primary" style="margin-left: 60px; background-color: grey; color: white;">Marcar como vendido</button>
                <button class="crearPubli" type="button" class="btn btn-primary" style="margin-left: 60px; background-color: black; color: white ">Guardar</button>
                </div>
            </div>
            </div>
         </div>

    </section>
        
          
    

    <footer>  </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    </body>
</html>