<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vestizar</title>
    <link rel="stylesheet" href="css/styleRegistro.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    </head>
    <body>

        <section >

            <div class="registro" >

               
               
                <div class="container"  >

                    <div class="cont">
                        <form action="">
                        
                            <p class="registrate1">Registrate</p>
                        <input id="nombre" type="text" name="nombre" placeholder="Nombre">

                        <input id="apellido" type="text" name="apellido" placeholder="Apellido">

                    
                        <br><br><input class="infoRegistro" type="email" name="correo" placeholder="Correo electrónico">
                        <br><br><input class="infoRegistro" type="tel" name="numero" placeholder="+569XXXXXXXX">
                        <div>
                            <select class="form-select opcionesciudad" style="width: 760px; border-radius: 0%; background-color: #d9d9d9;">
                                <option selected>Selecciona tu ciudad</option>
                                <option value="1">Villarrica</option>
                                <option value="2">Temuco</option>
                                <option value="3">Puerto Varas</option>
                              </select>
                        </div>
                   
                    

                        <div class="registrate3">
                            <p class="registrate2">Crea tu usuario</p>
                            <input  class="infoRegistro2" type="text" name="nombreUsuario" placeholder="Usuario">
                            <br><br><input id="contra"type="password" name="contraseña" placeholder="Contraseña">
                            <input id="contra2" type="password" name="confirmarContraseña" placeholder="Repite tu contraseña">
                    
                            <br><br> <a href="iniciadoSesion.html"><button  type="button" id="botonReg">Registrarse</button></a>

                        </div>
                  
                    </div>
                    </form>
                </div>

           


           
                <div   class="containerImagen" >
                    <img class="imagen" src="img/registro.png"/> 
                </div>
            

            </div> 

        </section>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    </body>
</html>