<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vestizar</title>
    <link rel="stylesheet" href="../static/css/styleRegistro.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    </head>
    <body>

        <section >

            <div class="registro" >



                <div class="container"  >

                    <div class="cont">

                        <form th:action="@{/guardarUsuario}" th:object="${usuario}"  method="post">
                        
                            <p class="registrate1">Registrate</p>


                        <input id="nombre" type="text" th:field="*{nombre}"  name="nombre" placeholder="Nombre">

                        <input id="apellido" type="text" th:field="*{apellido}" name="apellido" placeholder="Apellido">

                    
                        <br><br><input class="infoRegistro" th:field="*{correo}" type="email" name="correo" placeholder="Correo electrónico">
                        <br><br><input class="infoRegistro" type="tel" th:field="*{celular}"  name="numero" placeholder="+569XXXXXXXX">
                        <div>
                            <select  class="form-select opcionesciudad" style="width: 760px; border-radius: 0%; background-color: #d9d9d9;">
                                <option  selected>Selecciona tu ciudad</option>
                                <option th:each="ciudades:${ciudad}" th:field="*{ciudad}" value="1" th:text=" ${ciudades.nombre}" ></option>



                              </select>
                        </div>
                   
                    

                        <div class="registrate3">
                            <p class="registrate2">Crea tu usuario</p>
                            <input  class="infoRegistro2" type="text" th:field="*{nombreUsuario}" name="nombreUsuario" placeholder="Usuario">
                            <br><br><input id="contra"type="password" th:field="*{contrasena}" name="contraseña" placeholder="Contraseña", required>
                            <input id="contra2" type="password" name="confirmarContraseña" placeholder="Repite tu contraseña">
                    
                            <br><br><button  type="submit" id="botonReg">Registrarse</button>

                        </div>
                        </form>
                    </div>

                </div>

           


           
                <div   class="containerImagen" >
                    <img class="imagen" src="../static/img/registro.png"/>
                </div>
            

            </div> 

        </section>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    </body>
</html>